<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="assets/img/logo (3).png" alt="LogoBrand">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-3">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/add-project">Add Project</a>
                    </li>
                </ul>
                <div class="d-flex contactMe-link">
                    <a href="/contact-me" style="background-color: #198754;">Contact Me</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- main detail blog -->
    <div class="container">
        <div class="containerBlog">
            <h1 class="detailHeader">DumbWays App</h1>
            <div class="cardInfo">
                <div class="imgInfo">
                    <img src="assets/img/img1.jpg" alt="detailBlogImage">
                </div>
                <div class="attributInfo">
                    <div class="projectDistance">
                        <p class="itemTitle">Duration</p>
                        <div class="itemDesc">
                            <p class="stackItem"><i class="fa-solid fa-calendar-days"></i>12 Jan 2022 - 13 Jan 2022</p>
                            <p class="stackItem"><i class="fa-solid fa-clock"></i>3 Month</p>
                        </div>
                    </div>
                    <div class="projectStack">
                        <p class="itemTitle">Technologies</p>
                        <div class="stackDesc">
                            <ul>
                                <li class="stackItem"><i class="fa-brands fa-react"></i>React JS</li>
                                <li class="stackItem"><i class="fa-brands fa-angular"></i>Angular JS</li>
                            </ul>
                            <ul>
                                <li class="stackItem"><i class="fa-brands fa-vuejs"></i>Vue JS</li>
                                <li class="stackItem"><i class="fa-brands fa-node-js"></i>Node JS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="detailBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vero, quibusdam
                laboriosam, pariatur debitis corporis eius sequi praesentium quo eaque, ipsa atque deleniti aperiam quis
                fugit repellat consectetur alias iure! Quam cumque laboriosam atque aliquid aliquam quibusdam quasi
                laborum voluptatibus praesentium natuscolores minus possimus eligendi, est nesciunt, non nemo veniam.
                Corporis aliquam ipsam eaque a adipisci temporibus dolore fugiat et iusto incidunt minus unde vitae,
                voluptatem itaque. Doloribus blanditiis
                fugit
                voluptatem voluptatum ratione? Fuga quo sunt dolorem consequuntur atque praesentium commodi cupiditate
                recusandae? Sint soluta mollitia iure repellat reiciendis velit corporis reprehenderit. Iste praesentium
                ut
                quas aspernatur earum ipsa assumenda quo illum sed quibusdam architecto similique voluptatibus fuga hic
                maxime nobis sapiente eligendi corrupti laboriosam, rerum velit! Consequuntur molestias repudiandae
                tempore
                est impedit. Soluta tempore debitis quibusdam. Unde facilis eum ullam explicabo commodi corporis,
                ratione
                atque voluptatum veritatis fugiat natus obcaecati quasi, nulla rerum quam aperiam saepe aspernatur ipsam
                mollitia vero amet pariatur. Atque, ad? Placeat, aperiam deleniti tenetur explicabo quos molestias
                laudantium est libero ut, earum et perferendis deserunt expedita eligendi exercitationem suscipit porro
                reprehenderit, numquam similique odio! Saepe, id sequi. Quibusdam maxime repellat blanditiis, vero ipsam
                accusantium, architecto earum officiis eos culpa eaque. Commodi veniam esse voluptatem architecto odit
                eum
                consequatur quam, illo porro possimus et sapiente at tenetur adipisci. Voluptatum quia maiores cumque
                repudiandae esse, omnis officiis eaque magni recusandae aliquid labore ab minus nisi, quod similique
                aspernatur? Mollitia, atque minus fugiat assumenda, ex tempora voluptatem similique corrupti optio
                necessitatibus aliquam iure ullam laudantium, doloremque tempore quis sed nulla ipsam rerum dicta
                excepturi?
                Atque modi at impedit, aliquam rerum dignissimos nam magnam soluta nesciunt delectus amet tempore
                accusamus
                obcaecati cupiditate? Blanditiis officiis voluptatem deleniti. Odit adipisci quasi porro libero
                reiciendis
                ullam assumenda alias. Ad, hic veritatis quia suscipit odit architecto delectus quo dicta eos explicabo
                perferendis veniam odio ducimus vitae laborum similique sunt aliquam incidunt iste sed eum ullam
                reprehenderit esse nostrum? Sint ipsam consectetur laboriosam.</p>
        </div>
    </div>
</body>

</html>